<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Телефонная книжка
    </ion-title>
    <ion-buttons slot="end"> <!-- Размещаем справа -->
      <ion-button routerLink="/qr">
        <ion-icon name="barcode"></ion-icon> <!-- Замените "your-icon-name" на имя вашей иконки -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="contacts.length> 0">
    <ion-item *ngFor="let contact of contacts" >
      <ion-item (click)="selectContact(contact.contactId)">
      <ion-label>
        {{contact?.name?.display}}
        <p>
          <ion-text>
            {{contact?.phones[0].number}}
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
    </ion-item>
  </ion-list>
</ion-content>





